{% extends 'base.html' %}
{% block title %}Application Submitted{% endblock %}
{% block banner %}{% include 'banner.html' %}{% endblock %}
{% block content %}
  <h1 class="text-center mt-2 mb-4">Some Company</h1>
  <p>Your application for the role of <b>{{ job['title'] }}</b> has been submitted.</p>
  <br />
  <p>You can see all your application on the <b>Profile</b> page!</p>
  <b>Full Name</b>
  <div class="mb-2">{{ application['full_name'] }}</div>
  <b>Email</b>
  <div class="mb-2">{{ application['email'] }}</div>
  <b>LinkedIn</b>
  <div class="mb-2">{{ application['linkedin_url'] }}</div>
  <b>Education</b>
  <div class="mb-2">{{ application['education'] }}</div>
  <b>Work Experience</b>
  <div class="mb-2">{{ application['work_experience'] }}</div>
  <b>Resume URL</b>
  <div class="mb-2">{{ application['resume_url'] }}</div>
{% endblock %}
